.button {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Slightly faster */
  text-transform: capitalize;
  font-weight: bolder !important;
}

.button:active {
  transform: scale(1.1); /* Subtle shrink effect */
}