$primary-color: #bd2a2d;
$secondary-color: #FEF3E2;
$tertiary-color: #FAB12F;
$quaternary: #FEF3E2;
$header-color: #a50003;
$header-height: 55px;
$footer-height: 80px;

$node-male-color: #beeaff;
$node-female-color: #febcdf;
$node-border-color: $tertiary-color;
$node-border-radius: 0.5rem;

.theme-default {
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
  --tertiary-color: $tertiary-color;

  --header-color: #a50003;
  --header-height: 55px;

  --footer-height: 80px;

  --node-male-color: #beeaff;
  --node-female-color: #febcdf;
  --node-border-color: #FAB12F;
  --node-border-radius: 0.5rem;

  --tree-background-color: white;
}