@mixin theme {
  // Define SCSS variables
  $primary-color: #FFEFEF;
  $secondary-color: #F0EBE3;
  $tertiary-color: #F3D0D7;
  $quaternary-color: #F6F5F2;
  $success-color: #198754;
  $danger-color: #dc3545;

  $header-color: $primary-color;
  $header-height: 65px;

  $footer-color: $secondary-color;
  $footer-height: 75px;

  $node-male-color: #112D4E;
  $node-female-color: #7D0A0A;
  $node-border-color: $tertiary-color;
  $node-border-radius: 0.5rem;

  $tree-background-color: white;

  // Set CSS variables using the SCSS variables
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --quaternary-color: #{$quaternary-color};
  --success-color: #{$success-color};
  --danger-color: #{$danger-color};

  --header-color: #{$header-color};
  --header-height: #{$header-height};

  --footer-color: #{$footer-color};
  --footer-height: #{$footer-height};

  --node-male-color: #{$node-male-color};
  --node-female-color: #{$node-female-color};
  --node-border-color: #{$node-border-color};
  --node-border-radius: #{$node-border-radius};

  --tree-background-color: #{$tree-background-color};
}
