@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.charmonman-regular {
  font-family: "Charmonman", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-wrap {
  white-space: normal; // Allow text to wrap onto the next line
  word-wrap: break-word; // Enable word wrapping if the word is too long
  overflow-wrap: break-word; // Modern equivalent for word wrapping
  word-break: break-word; // Break long words if necessary (legacy support)
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.text-shadow {
  text-shadow: 0.2px black;
}