.react-calendar {
  width: 100%;
  border: none;
}

.react-calendar__tile--active {
  background: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 10px !important;
}

.react-calendar__tile--now {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border-radius: 10px !important;
}