$primary-color: #bd2a2d;
$secondary-color: #FEF3E2;
$tertiary-color: #FAB12F;
$header-color: #a50003;
$header-height: 55px;
$footer-height: 80px;

body {
  background-color: $primary-color !important;
  color: $tertiary-color !important;

  background: url("../assets/img/background/bg-grid.png") repeat center center;
}

.container {
  padding-top: calc(var(--zaui-safe-area-inset-top, 0px) + ($header-height + 10px)) !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: calc(var(--zaui-safe-area-inset-bottom, 0px) + ($footer-height + 10px)) !important;
  @extend .text-base;

  @media (min-width: 640px) {
    max-width: 100%;
  }
}

.app-logo {
  border-radius: 1rem;
  object-fit: cover;
  overflow: hidden;
  height: 50px;
}

// text
.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-tertiary {
  color: $tertiary-color !important;
}

.text-base {
  color: $secondary-color !important;
}

// background
.bg-primary {
  background: url("../assets/img/background/bg-grid.png") no-repeat 100% !important;
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.bg-tertiary {
  background-color: $tertiary-color !important;
}

.bg-blur {
  // background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

// header
.zaui-header {
  height: calc(var(--zaui-safe-area-inset-top, 0px) + $header-height) !important;
  background: url("../assets/img/background/bg-grid.png") no-repeat center center !important;
  background-color: $header-color !important;
  color: $tertiary-color !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: $secondary-color solid 1.5px;
}

.zaui-header::after {
  height: 0 !important;
  box-shadow: 10px 10px 40px 15px $secondary-color !important;
}

// footer
.zaui-bottom-navigation-content {
  background-color: $secondary-color !important;
}

// button
.zaui-btn-primary {
  background-color: $primary-color !important;
  color: $secondary-color !important;
}

.zaui-btn-secondary {
  background-color: $secondary-color !important;
  color: $primary-color !important;
}

.zaui-btn-tertiary {
  color: $secondary-color !important;
}

button, .button {
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); /* Slightly faster */
  &:active {
    transform: scale(0.95); /* Subtle shrink effect */
  }
  text-transform: capitalize;
  border-radius: 0.7rem !important;
}

.button-link {
  @extend .button;
  text-decoration: underline !important;
}

.button-bounce {
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); /* Slightly faster */
  &:active {
    transform: scale(0.5); /* Subtle shrink effect */
  }
}

// sheet
.zaui-sheet-content {
  @extend .text-primary;
  background-color: $secondary-color !important;
  background-image: url("../assets/img/background/bg-grid.png") !important;
}

// nav bar
.nav-active-icon {
  color: rgb(245, 235, 217) !important;
}

.zaui-bottom-navigation-item .zaui-bottom-navigation-item-icon {
  font-size: 24px;
  width: unset !important;
  height: unset !important;
}

.zaui-bottom-navigation-content {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: calc(var(--zaui-safe-area-inset-bottom) + $footer-height) !important;

  &::after {
    height: 0 !important;
  }
}