@use "./theme/theme.scss" as *;
@use "./font/font.scss" as *;
@use "./bootstrap.scss" as *;

#app {
  height: inherit;
}

html {
  width: 100%;
  height: 100%;
}

body {
  @extend .bg-primary;
  @extend .text-secondary;

  width: 100%;
  height: 100%;

  background: url("../assets/img/background/pattern-cloud-01.png") repeat 90%;
  background-size: 300px;
  user-select: none; // Prevent text selection

  img {
    user-select: none; // Prevent selection
    -webkit-user-drag: none;
    -webkit-touch-callout: none; // Disable context menu
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: calc(var(--zaui-safe-area-inset-top, 0px) + calc(var(--header-height))) !important;

  @extend .text-secondary;
  @extend .max-h;

  @media (min-width: 640px) {
    max-width: 100%;
  }
}

.padding-footer {
  padding-bottom: calc(var(--zaui-safe-area-inset-bottom, 0px) + calc(var(--footer-height))) !important;
}

.padding-header {
  padding-top: calc(var(--zaui-safe-area-inset-top, 0px) + calc(var(--header-height))) !important;
}

.container-padding {
  padding-top: calc(var(--zaui-safe-area-inset-top, 0px) + calc(var(--header-height))) !important;
  
  @extend .text-secondary;
  @extend .max-h;

  @media (min-width: 640px) {
    max-width: 100%;
  }
}

// text
.zaui-text-title {
  font-weight: bolder !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-tertiary {
  color: var(--tertiary-color) !important;
}

.text-base {
  color: black !important;
}

// background
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-tertiary {
  background-color: var(--tertiary-color) !important;
}

.bg-quaternary {
  background-color: var(--quaternary-color) !important;
}

.bg-blur {
  backdrop-filter: blur(20px);
}

.bg-white {
  background-color: white !important;
}

// header
.zaui-header {
  height: calc(var(--zaui-safe-area-inset-top, 0px) + var(--header-height)) !important;
  background-color: var(--header-color) !important;
  background-size: 210px !important;
  color: var(--secondary-color) !important;
  border-bottom: var(--secondary-color) solid 1.5px;
  @extend .rounded-bottom;
}

.zaui-header::after {
  height: 0 !important;
  box-shadow: 10px 10px 40px 15px var(--secondary-color) !important;
}

// button
.zaui-btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.zaui-btn-secondary {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.zaui-btn-tertiary {
  @extend .text-primary;
  background: none !important;
}

.zaui-btn-small {
  height: 36px !important;
}

button, .button {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Longer duration with a gentler easing */
  &:active {
    transform: scale(0.9); /* Subtle shrink effect */
  }
  text-transform: capitalize;
  font-weight: bolder !important;
  @extend .rounded;
}

.button-link {
  @extend .button;
  text-decoration: underline !important;
}

.button-bounce {
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); /* Slightly faster */
  &:active {
    transform: scale(0.5); /* Subtle shrink effect */
  }
}

// zaui sheet
.zaui-sheet-content {
  @extend .text-primary;
  .zaui-input-label {
    @extend .text-primary;
    text-transform: capitalize;
  }
}

// swiper
.zaui-swiper-item {
  opacity: 1 !important;
  @extend .rounded;
}

// input
.zaui-input-label {
  @extend .text-primary;
  text-transform: capitalize;
}

// nav bar
.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;

  background-color: var(--footer-color) !important;
  height: calc(var(--zaui-safe-area-inset-bottom) + var(--footer-height)) !important;
  
  @extend .rounded-top;
  
  &::after {
    height: 0 !important;
  }
}

.nav-item {
  &.special {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border: 4px solid var(--secondary-color) !important;
    border-radius: 50% !important;
    width: 80px;
    height: 80px;
    font-weight: bold;

    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    &:active {
      transform: translateX(-50%) scale(0.85);
    }
    
    @extend .flex-v, .center;
  }
}

// swipe gesture
#swipe-gesture {
  height: inherit;
}

// tabs
.zaui-tabs-tabbar {
  justify-content: center !important;
  text-align: center;
  background-color: var(--primary-color) !important;
}

.zaui-tabs-tabbar-item {
  width: 100%; // width of tab bar title
  color: var(--secondary-color) !important;

}

// yet-another-light-box
.yarl__root {
  height: calc(100vh - var(--zaui-safe-area-inset-top, 0px) - (var(--header-height) - 5px)) !important;
}

.yarl__portal {
  top: unset !important;
}

// modal
.zaui-modal-content {
  @extend .rounded;
}