$male-color: #00aeff;
$female-color: #ffa5d5;

.tree-node {
  position: absolute;
  padding: 15px;
}

.tree-node-root {
  background: #6f747e;
}

.tree-node-male {
  background: linear-gradient(to bottom, $male-color 15%, #fef3e2 15%);
  position: relative;
  color: $male-color !important;

  &::before {
    content: '';         
    position: absolute;
    top: 0;              
    left: 0;
    width: 100%;         
    height: 15%;         
    background: $male-color;
  }
}

.tree-node-female {
  background: linear-gradient(to bottom, $female-color 15%, #fef3e2 15%);
  position: relative;
  color: $female-color !important;

  &::before {
    content: '';         
    position: absolute;
    top: 0;              
    left: 0;
    width: 100%;         
    height: 15%;         
    background: $female-color;
  }
}

// override react-zoom-pan-pinch css
.react-transform-wrapper {
  height: inherit !important;
  width: unset !important;
}

// override react-zoom-pan-pinch css
.react-transform-component {
  height: inherit !important;
}