.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.flex-v {
  display: flex;
  flex-direction: column !important;
  flex-grow: 1;
}

.flex-h {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  gap: 0.5em;
}

.border {
  border: black;
  border-style: solid;
  border-width: 1px;
}

.text {
  &.success {
    color: #28a745;  // Green
  }

  &.pending {
    color: #ffc107;  // Yellow
  }

  &.warning {
    color: #fd7e14;  // Orange
  }

  &.danger {
    color: #dc3545;  // Red
  }
}

.scrollable {
  display: flex;
  overflow: auto; // Enable both horizontal and vertical scrolling
  width: 100vw;   // Full viewport width for horizontal scrolling
  height: 100vh;  // Full viewport height for vertical scrolling
  scroll-behavior: smooth; // Smooth scrolling effect (optional)
}

.box-shadow {
  box-shadow: 0px 10px 24px rgba(20, 20, 21, 0.09);
}

button {
  transition: transform 0.05s ease;
  &:active {
    transform: translateY(4px) scale(0.95); // Push down and shrink
  }
}