#app {
  background-color: white;
}

.flex-v {
  display: flex;
  flex-direction: column !important;
  flex-grow: 1;
}

.flex-v {
  display: flex;
  flex-direction: column;
  height: 100vh; // Take the full viewport height

  & > .fixed {
    height: 100px; // Set a fixed height for the first element
  }

  & > .flex-grow {
    flex-grow: 1; // Allow the second element to grow and fill the rest of the space
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Space items within flex-grow element
  }
}

.flex-h {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  gap: 0.5em;
}

.center {
  justify-content: "center";
  align-items: center;
  align-content: center;
  text-align: center;
}

.border {
  border: black;
  border-style: solid;
  border-width: 1px;
}

.text {
  &.success {
    color: #28a745;  // Green
  }

  &.pending {
    color: #ffc107;  // Yellow
  }

  &.warning {
    color: #fd7e14;  // Orange
  }

  &.danger {
    color: #dc3545;  // Red
  }
}

.scrollable {
  display: flex;
  overflow: auto; // Enable both horizontal and vertical scrolling
  width: 100vw;   // Full viewport width for horizontal scrolling
  height: 100vh;  // Full viewport height for vertical scrolling
  scroll-behavior: smooth; // Smooth scrolling effect (optional)
}

.box-shadow {
  box-shadow: 0px 10px 24px rgba(10, 10, 5, 0.16) !important;
}

button, .button {
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); /* Slightly faster */
  &:active {
    transform: scale(0.95); /* Subtle shrink effect */
  }
  text-transform: capitalize;
}

.button-bounce {
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); /* Slightly faster */
  &:active {
    transform: scale(0.5); /* Subtle shrink effect */
  }
}

.container {
  padding-top: 95px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;


  @media (min-width: 640px) {
    max-width: 100%;
  }
}