.tree-node-root {
  position: absolute;
  display: flex;
  padding: 10px;
}

.tree-node-inner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}

.tree-node-male {
  background: #1664ff;
}

.tree-node-female {
  background: #ff4bab;
}

.tree-node-id {
  font-size: 7px;
  line-height: 1;
  opacity: .5;
}