.tree-node {
  position: absolute;
  padding: 15px;
}

.tree-node-male {
  background: #1664ff;
}

.tree-node-female {
  background: #ff4bab;
}

// override react-zoom-pan-pinch css
.react-transform-wrapper {
  height: inherit !important;
  width: unset !important;
}

// override react-zoom-pan-pinch css
.react-transform-component {
  height: inherit !important;
}