.leaflet-popup-content {
  width: fit-content !important;
  margin: 0 !important;
  padding: 1rem 0.5rem !important;
}

.leaflet-custom-icon {
  border: none !important;
  background: transparent !important;
}